<p id="notice"><%= notice %></p>

<h1>Drawings</h1>

<%= button_to "Create Drawing for #{@current_year}", drawings_path(year: @current_year) %>

<table>

  <tbody>
    <% @drawings.each do |drawing| %>
      <tr>
        <td><%= link_to drawing.year, drawing %></td>
        <td><%= link_to 'Destroy', drawing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

