<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @drawing.year %>
</p>

<p>
  <strong>Selections</strong>
  <table>
    <thead>
      <tr>
          <th>Presenter</th>
          <th>Presentee</th>
      </tr>
    </thead>

    <tbody>
      <% @drawing.selections.each do |selection| %>
        <tr>
          <td><%= selection.presenter.first_name %></td>
          <td><%= selection.presentee.first_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>

<%= link_to 'Redraw', redraw_path, method: :get, data: { confirm: 'Are you sure?'} %>