<p id="notice"><%= notice %></p>

<h1>Selections for TODO:Insert Year</h1>

<table>
  <thead>
    <tr>
      <th>Presenter</th>
      <th>Presentee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @selections.each do |selection| %>
      <tr>
        <td><%= selection.presenter %></td>
        <td><%= selection.presentee %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

